body {
    --bg-color: rgb(41, 97, 21);
    --color: #fff;
    --font-family: "Courier New", monospace;
}

#app {
    background: var(--bg-color);
    color: var(--color);
    font-family: var(--font-family), monospace;
}

#top-panel, #bottom-panel {
    background: rgba(0, 0, 0, 0.25);
}

#middle-panel {
    flex-grow: 1;
}

#top-panel {
    border-bottom: 1px solid #fff;
    flex-shrink: 1;
    padding: 40px 0;
}

#bottom-panel {
    border-top: 1px solid #fff;
    flex-shrink: 1;
    padding: 20px 0;
}

#title {
    font-size: 3rem;
}

#copyright {
    font-size: 1.25rem;
}